*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	padding-bottom: 12.7rem;
}

a{
	text-decoration:none;
	color: #897f7f;
}

.content{
	width: 100rem;
	height: 100%;
}

/*顶不*/
.top{
	width: 100rem;
	height: 13rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.top .text{
	font-size: 5rem;
	white-space : nowrap;
}

.news{
	position: absolute;
	right: 0;
	margin-right: 5rem;
}

.top .news .xx{
	width: 5.6rem;
	height: 5.7rem;
}

.top .news .tz{
	width: 4.9rem;
	height: 2.5rem;
	font-family: MicrosoftYaHei;
	font-size: 2.5rem;
	white-space : nowrap;
	color: #6e6e6e;
}

/*轮播图*/
.lunbo{
	width: 100rem;
	height: 46.2rem;
}

/*头条*/
.headlines{
	width: 100rem;
	height: 9rem;
	display: flex;
	overflow: hidden;
	border-bottom: 0.2rem solid #ccc;
	box-shadow:  #666 0px 0px 10px;
}

.headlines .headList{
	height: 2.7rem;
	font-family: MicrosoftYaHei;
	font-size: 2.7rem;
	color: #b4282d;
	margin:3rem 6rem 3.2rem 2.7rem;
	white-space: nowrap;
}

/*资讯*/

/*first*/
.first{
	width: 95.5rem;
	height: 15.4rem;
	background-color: #f7f7f7;
	box-shadow: 0 0.3rem 0.3rem 0 
	rgba(44, 44, 44, 0.36);
	margin: 3.7rem auto;
}

.firstTop{
	width: 95.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.2rem;
}

.firstTop .left img{
	width: 3.2rem;
	height: 3.2rem;
	margin-right: 100rem;
}

.firstTop .left{
	font-size: 3.3rem;
	color: #515151;
	margin: 0 1rem;
	display: flex;
	align-items: center;
}
	
.firstTop .right{
	font-size: 3.3rem;
	color: #515151;
	float: right;
}

.firstBottom{
	font-size: 3.3rem;
	color: #515151;
	padding:0 0.72rem;
}

/*second*/
.second{
	width: 95.5rem;
	height: 2.83rem;
	background-color: #f7f7f7;
	box-shadow: 0px 0.03rem 0.03rem 0px 
		rgba(44, 44, 44, 0.36);
	margin: 0.37rem auto;
}

.secondTop{
	width: 95.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.22rem;
}

.secondTop .left img{
	width: 0.32rem;
	height: 0.32rem;
	margin-right: 0.1rem;
}

.secondTop .left{
	font-size: 0.33rem;
	color: #515151;
	margin: 0 0.1rem;
	display: flex;
	align-items: center;
}
	
.secondTop .right{
	font-size: 0.33rem;
	color: #515151;
	float: right;
}

.secondBottom{
	width: 95.5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding:0.4rem 0.5rem;
}

.secondBottom .center{
	width: 2.33rem;
	height: 1.2rem;
	background-color: #b22329;
	border-radius: 0.06rem;
	padding: 0.2rem;
}

.secondBottom .center p:nth-child(1){
	font-family: MicrosoftYaHei;
	font-size: 0.21rem;
	color: #ffffff;
}

.secondBottom .center p:nth-child(2){
	font-family: MicrosoftYaHei-Bold;
	font-size: 0.33rem;
	color: #ffffff;
	margin: 0.2rem 0;
}

/*通知公告*/
.thirdTime{
	font-family: MicrosoftYaHei;
	font-size: 0.17rem;
	color: #737070;
	text-align: center;
	margin-top: 0.5rem;
	
}

.third{
	width: 9.54rem;
	height: auto;
	background-color: #f7f7f7;
	border-radius: 0.06rem;
	rgba(44, 44, 44, 0.36);
	margin: 0 auto;
	box-shadow: -0.02rem 0.05rem 0.05rem 0px rgba(44, 44, 44, 0.38);
}

.thirdWeb{
	-webkit-filter: grayscale(100%);
}

.thirdTop{
	width: 95.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.22rem;
	
}

.thirdTop .left{
	font-size: 0.42rem;
	font-weight: 900;
	margin: 0 0.1rem;
	display: flex;
	align-items: center;
}
	
.thirdTop .right{
	font-size: 0.33rem;
	color: #515151;
	float: right;
}

.thirdTop .right img{
	width: 0.63rem;
	height: 0.63rem;
	padding-right:0 0.2rem;
}

.thirdCenter{
	font-size: 0.33rem;
	font-weight: 500;
	padding:0 0 0.2rem 0.34rem;
}

.inColor{
	color: #b22329;
}

.thirdBottom{
	width: 95.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.2rem;
	border-top: 0.4rem solid #ccc;
}

.thirdBottom .left img{
	width: 2.2rem;
	height: 3.2rem;
	margin-right: 1rem;
}

.thirdBottom .left{
	font-family: MicrosoftYaHei;
	font-size: 2.9rem;
	color: #737070;
	margin: 0 1rem;
	display: flex;
	align-items: center;
}
	
.thirdBottom .right{
	font-size: 3.3rem;
	color: #515151;
	float: right;
}

/*底部*/
.bottom{
	width: 100rem;
	height: 12.1rem;
	background-color: #f7f7f7;
	box-shadow: 0 0 2.1rem 0 rgba(44, 44, 44, 0.38);
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.nav .images:nth-child(1){
	width: 4.2rem;
	height: 4.8rem;
}

.nav .images:nth-child(2){
	width: 4.3rem;
	height: 4rem;
}

.nav .images:nth-child(3){
	width: 4.5rem;
	height: 4.3rem;
}

.nav .images:nth-child(4){
	width: 4.2rem;
	height: 4.2rem;
}

.nav .zi{
	font-size: 2.9rem;
	white-space: nowrap;
}

.nav .active{
	color: #b22329;
}

/*工资列表*/
.thirdNews{
	position: absolute;
	left: 3.2rem;
	top: 4.8rem;
}

.top .thirdNews .tz{
	font-size: 3.4rem;
	white-space : nowrap;
	font-weight: 600;
}

.search_input {
	line-height: 8.2rem;
	font-size: 3.3rem;
    display: inline;
    width: 95.4rem;
	height: 8.2rem;
	padding: 0 7rem;
	background: url(../img/sy_second_3.png) left 2rem center  no-repeat,
				url(../img/sy_second_2.png) right 42rem center  no-repeat;
	background-color: #e5e5e5;			
	border-radius: 4.1rem;
  	margin: 2.2rem;
  	border-style:none;
}

.head{
	background: #fafafa;
}

/*工资详情页*/
.bigBox{
	width: 89.7rem;
	height: 100%;
	background: #fafafa;
	margin: 4rem auto;
	border-radius: 3rem;
	box-shadow: 0.1rem 0.4rem 0.7rem 0 rgba(44, 44, 44, 0.38)
}

.lineBox{
	height: 9rem;
	font-size: 3.3rem;
	line-height: 9rem;
	font-weight: 500;
	white-space: nowrap;
	border-bottom: 0.2rem solid #ccc;
	display: flex;
}

.bigBox .lineLift,
.bigBox .lineRight{
	display: flex;
	justify-content: center;
}

.bigBox .lineLift{
	flex: 1;
	border-right: 0.2rem solid #ccc;
}

.bigBox .lineRight{
	flex: 2;
}

/*通知公告详情*/
.td{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	color: #444444;
	padding: 0 4rem;
	
}

.tdFirst{
	font-size: 5rem;
	margin: 1rem auto; 
}

.tdSecond{
	font-size: 2.5rem;
	margin: 1rem auto; 
}

.tdThrid{
	font-size: 4.2rem;
	margin-bottom: 3rem;
}

.tdFourth{
	width: 82rem;
	height: 46.1rem;
}

.tdFifth{
	width: 80rem;
	font-size: 4.6rem;
	color: #b22329;
	margin-top: 6rem;
}

.tdRight{
	float: right;
}

.tdSixth{
	font-size: 3.3rem;
}

/*安全教育详情*/
.bg{
	width: 100rem;
	height: 153.6rem;
	background: url(../img/sy_First_1.png);
	background-position: -27.7rem -49.4rem;
	position: relative;
}

.bg .user input,
.bg .password input{
	width: 50rem;
	height: 8rem;
	background: #10447d;
	border-radius: 2rem;
	position: fixed;
	left: 24.3rem;
	border-style: none;
	font-size: 4rem;
	text-align: center;
	border: 0.1rem solid #1562b6;
}

.bg .user input{
	bottom: 56rem;
}

.bg .password input{
	bottom: 44.7rem;
}

.bg .button button{
	width: 23.6rem;
    height: 9rem;
    background: #ffd151;
    border-radius: 1.5rem 1.5rem 4rem 1.5rem;
    position: absolute;
    left: calc(50%-11.8rem);
    border-style: none;
    font-size: 4rem;
    text-align: center;
    border: 0.3rem solid #474742;
    bottom: 32rem;
}
